{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Class selection{% endblock %}
{% block main_content %}
  <div class="selection">
    <div class="container">
      <h3 style="font-weight:normal">Please choose a class of Chinese characters that you do not already know.  For example, if you know any of the numbers from 1-10, do not select that class.  If in doubt, go with one of the "difficult" training sets.  The exercise will consist of a 30 question multiple choice teaching period followed by a 10 question multiple choice test.  Please do not reference any material while taking the quiz.</h3>
      <div class="selection-section">
        <ul>
          {% for wordset in object_list %}
            <li><a href="{% url "teacher:quiz" wordset.id %}">
              <div class="selection-box">
                <h4>{{ wordset.name }}</h4>
                <p>{{ wordset.description|linebreaks }}</p>
              </div>
            </a></li>
            {% empty %}
            <li><h3>Sorry! No sets yet!</h3></li>
          {% endfor %}
        </ul>
        <!-- THE FORM -->
      </div>
    </div>
  </div>
{% endblock %}
