<!DOCTYPE html>
<html>

<head>

<title>Visual Memory Test</title>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />

</head>

<body>

<div id="frame">

<div id="container">

<h1>End of Testing</h1>

<h2>Your score is: <b>{{ score }} / {{ num_testing_images }}</b></h2>

<h2>The average score is: <b>{{ ave_score|floatformat:2 }} / {{ num_testing_images }}</b></h2>

<br><br><br><br><br><br><br><br>
<p>
This teaching algorithm and web interface were developed by Justin Leong, Kevin Tang, Zilong Chen, and Kaikai Sheng. For further details, contact Justin at <a href="mailto:jleong@caltech.edu">jleong@caltech.edu</a>.  To return to the homepage/wordset selection page, click <a href="/">here</a>.  Feel free to take another quiz as long as you do not know the characters beforehand.  Thanks so much!
</p>

</div>

</div>

</body>

</html>
